<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <div class="form-group">
        <label for="username">Kullanıcı Adı</label>
        <input #txtUserNameOrEmail type="text" class="form-control" placeholder="Kullanıcı Adı & E-Mail">
        <small class="form-text text-muted invalid-feedback" *ngIf=""
        >Lütfen Ad Soyad Giriniz.</small>
      </div>
      <div class="form-group">
        <label for="password">Şifre</label>
        <input #txtPassword type="password" class="form-control" id="sifre" placeholder="Şifre">
      </div>
      <button type="submit" class="btn btn-primary" (click)="login(txtUserNameOrEmail.value,txtPassword.value)">Giriş Yap</button>
  </div>
  <div class="col-md-4"></div>
</div>
