<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">Mini E-Ticaret</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a routerLink = "">Ana Sayfa </a></li>
        <li><a routerLink = "products">Ürünler</a></li>
        <li><a routerLink = "register" *ngIf="!authService.isAuthenticated">Kayıt Ol</a></li>
        <li><a routerLink = "login" *ngIf="!authService.isAuthenticated">Giriş Yap</a></li>
        <li><a  style="color: red" *ngIf="authService.isAuthenticated">Çıkış Yap</a></li>
        <li><a routerLink = "baskets">Sepet</a> </li>
        <li> <a routerLink = "admin" (click)="signOut" cursor="pointer" *ngIf="authService.isAuthenticated">Yönetim Paneli</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<router-outlet></router-outlet>

<ngx-spinner type="ball-scale-multiple" name = "s1"></ngx-spinner>
<ngx-spinner type="ball-atom" name = "s2"></ngx-spinner>
<ngx-spinner type="ball-spin-clockwise-fade-rotating" name = "s3"></ngx-spinner>
